# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.env.*
.idea/
.vscode/
*.sqlite3
*.db
backend/app.log
backend/backend_server.log
*.pem
firebase_key*.json

# Flutter
mobile/.dart_tool/
mobile/.packages
mobile/build/
mobile/.pub/
mobile/pubspec.lock

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Next.js Web Admin
web-admin/node_modules/
web-admin/.next/
web-admin/out/
web-admin/.env
web-admin/.env.local
web-admin/.env.development.local
web-admin/.env.test.local
web-admin/.env.production.local
web-admin/.vercel/
